# Don't include dependencies
node_modules

# Environment secrets
.env

# Logs and OS files
*.log
.DS_Store
Thumbs.db

# Git files (if you initialize git later)
.git
.gitignore

# Dockerignore itself
.dockerignore

# Text or temp files
1
